 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('variables.css');

    body{
      font-family: "Inter", sans-serif;
      background-color: #ffffff;
    }

    .hero {
      width: 100%;
      max-width: 100%;
      overflow: hidden;
    }

    .hero-img {
      width: 100%;
      height: 100%;
      object-fit: cover;

    }

    main.container {
      max-width: 1200px;
      margin: auto;
      padding: 20px;
    }

    main section h2{
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #000000;
      margin-bottom: 20px;
    }

    section {margin-bottom: 60px;}

    .discount-product {margin-top: 40px;}

    .high-rated {margin-bottom: 20px}

    .strip{
      display:flex;
      flex-wrap: wrap;
      gap: 50px;
      padding: 10px;
      justify-content: center;

    }

    .strip-item{
      width: 70px;
      gap: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: transform 0.2s;
    }

    .strip-label {
      display: block;
      font-size: 12px;
    }
    
    .strip-circle{
      width: 5rem;
      height: 5rem;
      border-radius: 50rem;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .strip-circle img, .strip-circle svg {width: 50px;}

    .strip-button{background: none; border: none; cursor: pointer; text-align: center;}
    .strip-button:hover .strip-circle{transition: all 0.3s ease-in-out; transform: translateY(-0.2rem);}
 

    .products {
      display: flex;
      overflow-x: auto;
      padding: 10px;
      gap:10px;
    }
    .product-body {position: relative; overflow: hidden;}

    .products::-webkit-scrollbar{display: none;}
    
    .product-card {background: #fff;
    border-radius: 20px;
    box-shadow: var(--shadow-card);
    padding: 16px;
    position: relative; transition: all 0.3s; min-width: 220px; flex-shrink: 0; scroll-snap-align: start; padding-left: 12px; padding-right: 12px;}

    .product-card:hover{transform: translateY(-6px); box-shadow: var(--shadow-hover);}
    .product-image {height: 150px; display: flex;  align-items: center; justify-content: center;}
    .product-image img{width: 200%; max-width: 150px; object-fit: contain;}
   
    .product-actions {
      display: flex; 
      gap: 10px; 
      margin-top: 10px;
      justify-content: center;
      opacity: 0;
      pointer-events: none;
      transform: translateY(20px);
      transition: transform 0.2s; 
    }
    .product-card:hover .product-actions{opacity: 1; pointer-events: auto; transform: translateY(0);}
      .product-actions .add-cart {display: flex; align-items: center; justify-content: center;width: 70px; height: 35px; background: var(--color-main-100); border: none; border-radius: 12px; padding: 12px;}
      .product-actions .wishlist{display: flex; align-items: center; justify-content: center;width: 70px; height: 35px; background: var(--color-main-100);; border: none; border-radius: 12px; padding: 12px;}


    .product-menu {
      position: absolute;
      top: 16px;
      right: 16px;
      border: none;
      background: #f5f5f5;
      border-radius: 10px;
      padding: 6px 10px;
      }
    
    .product-rating i {color: var(--product-rating)}
    .product-rating {font-size: 12px;}
    .product-title {font-size: 14px; margin: 5px}
    .product-brand {margin: 5px;font-size: 12px; color: var(--color-black-10); }
    .old-price {font-size: 12px; color: var(--color-black-100); text-decoration: line-through;}
    .sale-rate {font-size: 14px; color: var(--sale-rate); display:inline-block; border: 1px solid #b71212;border-radius:100px; padding:1px 5px;}

    .product-badge {
      position: absolute;
      top: 16px;
      left: 16px;
      border: none;
      background: #f5f5f5;
      padding: 6px 14px;
      border-radius: 14px;
    }

    