@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('variables.css');

    body{
      font-family: "Inter", sans-serif;
      background-color: #ffffff;
    }

    .hero {
      width: 100%;
      max-width: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    main section h2{
      font-size: var(--text-md);
      font-weight: bold;
      margin-bottom: 0.75rem;
      color: #000000;
      margin-bottom: 1rem;
    }

    section {
      margin-bottom: 4rem;
    }

    main.container {
      max-width: 75rem;
      margin: auto;
      padding: 1rem;

    /*Бүтээгдэхүүний төрлөөр хэсэг*/
      .strip {
        display:flex;
        flex-wrap: wrap;
        gap: 3rem;
        padding: 3rem;
        justify-content: center;
        
      .strip-button {
        background: none; 
        border: none; 
        cursor: pointer; 
        text-align: center;
        &:hover .strip-circle {
          transition: all 0.3s ease-in-out; 
          transform: translateY(-0.2rem);
        }
        .strip-circle{
          width: 7rem;
          height: 5rem;
          border-radius: 50rem;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
            img, svg {
              width: 50px;
            }
          .strip-label {
            display: block;
            font-size: var(--text-xs);
          }
        }
      }

      .strip-item {
          width: 100px;
          gap: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transition: transform 0.2s;
        }
      }

     /*Үнэлгээ өндөр бүтээгдэхүүн*/
      .high-rated {
        margin-bottom: 1rem;
        .heading-high-rated {
          display: flex;
          justify-content: space-between;
          .view-all-highRated {
            text-decoration: none;
            .view-all {
              font-size: var(--text-sm);
            }
          }
        }
      }

      /*Хямдралтай бүтээгдэхүүн*/
      .discount-product {
        margin-top: 3rem;
        .heading-sale-product{
          display: flex;
          justify-content: space-between;
          .view-all-sales {
            text-decoration: none;
            .view-all {
              font-size: var(--text-sm);
            }
          }
        }
      }
      
      /*Бүтээгдэхүүний card*/
      .products {
        display: flex;
        overflow-x: auto;
        padding: 10px;
        gap:10px;
        scrollbar-width: none;

        .product-card {
          width: 20rem;
          height: fit-content;
          background: #fff;
          border-radius: 20px;
          box-shadow: var(--shadow-card);
          padding: 16px;
          transition: all 0.3s; 
          min-width: 220px; 
          flex-shrink: 0; 
          scroll-snap-align: start; 
          padding-left: 12px; 
          padding-right: 12px;
          &:hover {
            transform: translateY(-6px); 
            box-shadow: var(--shadow-hover);
          }
        }

        .sale-rate {
          font-size: var(--text-base);  
          display:inline-block; 
          border: 1px;
          border-radius: 6rem; 
          background: var(--color-main-100);
          padding: 1px 5px;
        }

        .product-image {
          height: 10rem; 
          display: flex;  
          align-items: center; 
          justify-content: center;
          img {
            width: 200%; 
            max-width: 10rem; 
            object-fit: cover;

          }
        }
        .product-card:hover .product-actions {
          opacity: 1; 
          pointer-events: auto; 
          transform: translateY(0);
        }

        .product-rating {
          font-size: var(--text-xs);
          .review-star {
            color: var(--product-rating-star);
          }
        }
        
        .product-actions {
          display: flex; 
          gap: var(--space-m); 
          margin-top: var(--space-m); 
          justify-content: center; 
          opacity: 0; pointer-events: none; 
          transform: translateY(20px); 
          transition: transform 0.2s; 
            .add-cart, .wishlist {
              display: flex; 
              align-items: center; 
              justify-content: center;
              width: 70px; 
              height: 35px; 
              background: var(--color-main-100); 
              border: none; 
              border-radius: 12px; 
              padding: 12px;
          }
        }

        .product-title {
          font-size: var(--text-base); 
          margin: 5px; 
          text-decoration: none;

        }
        .product-brand {
          margin: 5px;
          font-size: var(--text-xs); 
          color: var(--color-black-10); 
          text-decoration: none;
        }

        .old-price {
          font-size: var(--text-xs); 
          color: var(--color-black-100); 
          color: var(--color-black-6);
          text-decoration: line-through;
        }

        .product-detail {
          text-decoration: none; 
          color: var(--color-black-0)
        }
      }
    }

    

    