@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('variables.css');    

    body {
      background: var(--color-white-0);
    }
    .high-rated {
        margin: 2rem 2rem 2rem 2rem; 
        gap: 1rem;
    }

    .product-count {
        font-size: var(--text-xs);
        color: var(--color-black-8);
    }
    h2.high-rated-product {
      font-size: var(--text-2xl);
    }

    .sort {
      display: flex;
      border-radius: 5px;
      border: var(--border-default-all);
      padding: 10px;
      gap: 2rem;
      margin-top: 2rem;
      .category, .sorting {
        border: none;
        font-size: var(--text-base);
        background: var(--color-white-3);
        height: 2rem;
      }
    }


    .products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 1rem;
        margin: 2rem;
    }
    .product-card {
      overflow: hidden;
      background: var(--color-white-0);
      border-radius: 1rem;
      box-shadow: var(--shadow-card);
      padding: 1rem;
      transition: all 0.3s; 
      scroll-snap-align: start; 
      padding-left: 0.75rem; 
      padding-right: 0.75rem;
      &:hover {
        transform: translateY(-6px); 
        box-shadow: var(--shadow-hover);
      }
    }

    .product-image {
      width: 100%;
      display: flex;  
      align-items: center; 
      justify-content: center;
      img {
        width: 100%;
        height: 12rem;
        object-fit: contain;
      }
    }

    
    .product-card:hover .product-actions{opacity: 1; pointer-events: auto; transform: translateY(0);}

    .product-rating {
      font-size: var(--text-sm);
      .review-star {
        color: var(--product-rating-star);
      }
    }
    
    .product-actions {
      display: flex; 
      gap: 0.75rem; 
      margin-top: 10px; 
      justify-content: center; 
      opacity: 0; 
      pointer-events: none; 
      transform: translateY(20px); 
      transition: transform 0.2s; 
        .add-cart, .wishlist {
          align-items: center; 
          justify-content: center;
          width: 5rem; 
          height: 2rem; 
          background: var(--color-main-100); 
          border: none; 
          border-radius: 12px; 
          padding: 12px;
      }
    }

    .product-title {
      font-size: var(--text-md); 
      margin: 5px; 
      text-decoration: none;

    }
    .product-brand {
      margin: 5px;
      font-size: var(--text-sm); 
      color: var(--color-black-10); 
      text-decoration: none;
    }
 
    .product-detail {text-decoration: none; color: var(--color-black-0);}
    
    /* ════════════════════════════════
   RESPONSIVE — TABLET (≤1024px)
    ════════════════════════════════ */
    @media (max-width: 1024px) {
        .high-rated-product {
          font-size: var(--text-sm);
        }
        
    }

    /* ════════════════════════════════
      RESPONSIVE — MOBILE (≤768px)
    ════════════════════════════════ */
    @media (max-width: 768px) {
        h2.high-rated-product {
          font-size: var(--text-lg);
        }
        .products {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
          gap: 1rem;
          margin: 2rem;
        }
        .product-image img {
          object-fit: contain;
        }
    }
    