@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('variables.css');    

    .discount-product {
        margin: 2rem 2rem 2rem 2rem; 
    }

    .product-count {
        font-size: var(--text-xs);
        color: var(--color-black-8);
    }
    
    .sort {
        border-radius: 5px;
        border: var(--border-default-all);
        margin-top: 1rem;
        display: flex;
        gap: 2rem;
        padding: 0.75rem;
        .category, .filter {
            border: none;
            font-size: var(--text-base);
            background: var(--color-white-3);
            height: 2rem;
        }
    }
    

   
    
    .products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 1rem;
        margin: 2rem 2rem 2rem 0;
    }
    .product-card {
      overflow: hidden;
      background: var(--color-white-0);
      border-radius: 1rem;
      box-shadow: var(--shadow-card);
      padding: 1rem;
      transition: all 0.3s; 
      scroll-snap-align: start; 
      padding-left: 0.75rem; 
      padding-right: 0.75rem;
      &:hover {
        transform: translateY(-6px); 
        box-shadow: var(--shadow-hover);
      }
    }

    .sale-rate {
      font-size: var(--text-xs);  
      display:inline-block; 
      border: 1px;
      border-radius:100px; 
      background: var(--color-main-100);
      padding:1px 5px;
    }

    .product-image {
      width: 100%;
      display: flex;  
      align-items: center; 
      justify-content: center;
      img {
        width: 100%;
        height: 12rem;
        object-fit: cover;
      }
    }
    
    .product-card:hover .product-actions{opacity: 1; pointer-events: auto; transform: translateY(0);}

    .product-rating {
      font-size: var(--text-xs);
      .review-star {
        color: var(--product-rating-star);
      }
    }
    
    .product-actions {
      display: flex; 
      gap: 10px; 
      margin-top: 10px; 
      justify-content: center; 
      opacity: 0; 
      pointer-events: none; 
      transform: translateY(20px); 
      transition: transform 0.2s; 
        .add-cart, .wishlist {
          display: flex; 
          align-items: center; 
          justify-content: center;
          width: 70px; 
          height: 35px; 
          background: var(--color-main-100); 
          border: none; 
          border-radius: 12px; 
          padding: 12px;
      }
    }

    .product-title {
      font-size: var(--text-md); 
      margin: 5px; 
      text-decoration: none;

    }
    .product-brand {
      margin: 5px;
      font-size: 0.7rem; 
      color: var(--color-black-10); 
      text-decoration: none;
    }

     .old-price {
      font-size: var(--text-base); 
      color: var(--color-black-100); 
      color: var(--color-black-6);
      text-decoration: line-through;
    }
 
    .product-detail {text-decoration: none; color: var(--color-black-0);}
    